/* styles.css*/


.gameboard {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    justify-content: center;
   
}

.box {
    background-color: aquamarine;
    margin: 2px;
    position: relative;
    transition: linear;
    transform-style: preserve-3d;
    cursor: pointer;
    
}
 

.front-face, .back-face {
    position: absolute; 
    border: 5px solid blue;
  
}


.back-face {
    backface-visibility: hidden;
    z-index: 2;
}

.front-face
     {
    transform: rotateY(180deg); 
    z-index: 1;
     }
.flipcard {
    transform: rotateY(180deg);

}



