/* styles.css*/


.gameboard {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    justify-content: center;
   
  

}

.box {
    background-color: aquamarine;
    border: 2px solid whitesmoke; 
    position: relative;
    transition: linear;
    transform-style: preserve-3d;
    
}

.box:hover {transform: rotateY(180deg);} 

.front-face, .back-face {
    position: absolute; 
    

  
}

.front-face {
    backface-visibility: hidden;
    z-index: 2;

}


    

.back-face {
    transform: rotateY(180deg); 
    z-index: 1;
      
 

}



